<div *ngIf="singleRowRecord!=null">
<mat-list>
    <mat-list-item><mat-card-title>Name</mat-card-title>&nbsp;&nbsp;{{singleRowRecord?.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-card-title>Age</mat-card-title>&nbsp;&nbsp;{{singleRowRecord?.age}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-card-title>Proffession</mat-card-title>&nbsp;&nbsp;{{singleRowRecord?.proffession}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-card-title>email</mat-card-title>&nbsp;&nbsp;{{singleRowRecord?.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-card-title>Phoneno</mat-card-title>&nbsp;&nbsp;{{singleRowRecord?.phoneno}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  </div>